
          <div class="news">
            {% if site.latest_posts != blank -%}
            {%- assign latest_posts_size = site.posts | size -%}
            {%- assign latest_posts = site.posts -%}
            {% if site.latest_posts.limit %}
            {% assign latest_posts_limit = site.latest_posts.limit %}
            {% else %}
            {% assign latest_posts_limit = latest_posts_size %}
            {% endif %}
            <div class="latest-post-cards">
              {% for item in latest_posts limit: latest_posts_limit %}
                {% if item.external_source == blank %}
                  {% assign read_time = item.content | number_of_words | divided_by: 180 | plus: 1 %}
                {% else %}
                  {% assign read_time = item.feed_content | strip_html | number_of_words | divided_by: 180 | plus: 1 %}
                {% endif %}
                {% assign year = item.date | date: "%Y" %}
                {% if item.redirect == blank %}
                  {% assign item_url = item.url | relative_url %}
                  {% assign external = false %}
                {% elsif item.redirect contains '://' %}
                  {% assign item_url = item.redirect %}
                  {% assign external = true %}
                {% else %}
                  {% assign item_url = item.redirect | relative_url %}
                  {% assign external = false %}
                {% endif %}
                <a class="latest-post-card" href="{{ item_url }}"{% if external %} target="_blank" rel="noopener noreferrer"{% endif %}>
                  <h3>{{ item.title | replace: ' (', ' - <span class="latest-post-title-part">' | replace: ')', '</span>' }}</h3>
                  <p>{{ item.description }}</p>
                  <small>{{ read_time }} min read <span>&middot;</span> <i class="fa-solid fa-calendar fa-sm"></i> {{ year }}</small>
                </a>
              {%- endfor %}
            </div>
          {%- else -%}
            <p>No posts so far...</p>
          {%- endif %}
          </div>
